.photo{
    width: 400px;
    height : 400px;
    margin: auto  0;
    border-radius: 30px;
    position: relative;
    left: 5vh;
    top: 15vh;
}
.first{
    display: flex;
    text-align: center;
    color: white;
    width: 100%;
    justify-content: center;
   text-decoration: underline;
}

.container{
    padding: 1.5rem;
    flex: 1;
    color: white;
    border-radius: 2rem;
    border: 0.1rem solid #0ef;
    text-align: center;
}
.achievements{
    display: flex;
    width: fit-content;
    position: relative;
    left: 70vh;
    bottom: 40vh;
}
.more{
    
    color: white;
    width: 800px;
    margin: 0px auto;
    position:relative;
    bottom: 30vh;
    font-size: 20px;
    font-weight: 400;

}
.chat{
   
    padding: 20px 25px;
    margin: 30px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    overflow: hidden;
    margin-right: 40px;
    border-radius: 10px;
    font-weight: 600;
    background: #03e9f4;
    color: #050801;
    position: relative;
    left: 90vh;
    bottom: 25vh;
}
.chat:hover{
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
-webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
